@import url(nullstyle.css);


/* ======================= */
/* Fonts                   */
/* ======================= */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}

body {
	background-color: #fff7f2;
}

/* ======================= */
/* Sectione One            */
/* ======================= */

.sectionOne {
	height: 980px;
	background: rgb(250, 209, 38);
	background: linear-gradient(171deg, rgba(250, 209, 38, 0.8018557764902836) 0%, rgba(255, 84, 79, 0.7206232834930848) 100%);
	position: relative;
}


.section__elips {
	position: absolute;
	top: 200px;
	left: 150px;
	filter: blur(15px);
}

.section__elips__1 {
	transform: scale(-1);
	top: 350px;
	right: 200px;
}

.section__elips__2 {
	top: 600px;
	left: 300px;
}

.section__elips__3 {
	transform: scale(-1);
	right: 500px;
	top: 200px;
}

.section__elips__4 {
	transform: scale(-1);
	bottom: 200px;
	right: 400px;
}

.header {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	color: #fff0e7;
	border: 1px solid rgba(255, 255, 255, 0.376);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 15;
	background-color: rgba(0, 0, 0, 0.208);
}

.container {
	width: 100%;
	max-width: 1380px;
	margin: 0 auto;
	padding: 0px 20px 0px 20px;
}

.header__main {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.header__title {
	padding: 10px 0px 0px 0px;
	display: flex;
	position: relative;
	z-index: 15;
}

.header__title h1 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
	font-size: 30px;
	padding: 0px 0px 0px 20px;
}


.header__nav {
	position: relative;
	z-index: 15;
}

.nav__menu {
	height: 100%;
	display: flex;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
}

.nav__menu a {
	text-decoration: none;
	color: #fff0e7;
}

.nav__link {
	margin: 0px 0px 0px 30px;
	letter-spacing: 1px;
	padding: 10px 15px 10px 15px;
	position: relative;

}

.nav__link::after {
	content: '';
	position: absolute;
	display: block;
	height: 0.4em;
	width: 0%;
	bottom: -.5em;
	background-color: #fff;
	transition: all ease-in-out 250ms;
}

.nav__link:hover::after {
	width: 75%;
}

.nav__menu a:first-child .nav__link {
	margin: 0px 0px 0px 0px;
}

.nav__menu a:last-child .nav__link {
	transition: all ease-in-out 350ms;
	padding: 0px 0px 0px 0px;
}


.nav__menu a:last-child .nav__link::after {
	display: none;
}



.contentInfo {
	padding: 80px 0px 0px 0px;
	height: 900px;
	display: flex;
	align-items: center;
}

.intro__all__items {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.introInfo {
	font-family: 'Raleway', sans-serif;
	color: #fff;

}

.intor__citate {
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 1.5px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.192);
	transition: all ease-in-out 350ms;
	cursor: pointer;
}

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}

.btn-one span {
	transition: all 0.3s;
}

.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255, 255, 255, 0.5);
	border-bottom-color: rgba(255, 255, 255, 0.5);
	transform: scale(0.1, 1);
}

.btn-one:hover span {
	letter-spacing: 2px;
}

.btn-one:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}

.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}


.intro__title h2 {
	font-weight: 800;
	font-size: 54px;
	letter-spacing: 1.5px;
	margin: 50px 0px 0px 0px;
	width: 800px;
	margin: 50px auto;

}

.intro__title span {
	text-transform: uppercase;
}

.intro__subtitle {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	width: 620px;
	margin: 0 auto;
}

.intro__buttons {
	margin: 50px auto;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 1.5px;
	display: flex;
	justify-content: center;
}

.btn-three {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
	margin-right: 50px;
}

.btn-three:last-child {
	margin-right: 0;
}

.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.3s;
}

.btn-three:hover::before {
	opacity: 0;
	transform: scale(0.5, 0.5);
}

.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255, 255, 255, 0.5);
	transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
	opacity: 1;
	transform: scale(1, 1);
}


.intro__buttons button:last-child {
	margin: 0px 0px 0px 0px;
}

.intro__social {
	display: flex;
	justify-content: center;
	cursor: pointer;
	position: relative;
	z-index: 5;
}

.intro__social a {
	cursor: pointer;
}

.intro__social img {
	height: 35px;
	margin: 0px 50px 0px 0px;
	border: 1px solid #fff;
	border-radius: 50px;
	padding: 7px;
	transition: all ease-in-out .2s;
	cursor: pointer;
}

.intro__social img:hover {
	background-color: rgba(255, 255, 255, 0.264);
}

.intro__social a:last-child img {
	margin: 0px 0px 0px 0px;
}



.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

.btn-two {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}

.btn-two span {
	z-index: 2;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.1);
}

.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.1);
}

.btn-two:hover::before {
	transform: rotate(-45deg);
	background-color: rgba(255, 255, 255, 0);
}

.btn-two:hover::after {
	transform: rotate(45deg);
	background-color: rgba(255, 255, 255, 0);
}

.btn-two span {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}



/* ======================= */
/* Sectione Two            */
/* ======================= */


.SectionTwo {
	height: 1000px;
	padding: 80px 0px 100px 0px;
	position: relative;
}

.aboutUs__all__items {
	display: flex;
	position: relative;
}


.aboutUs__item {
	width: 50%;
	height: 100%;

}

.aboutUs__text {
	font-family: 'Raleway', sans-serif;
}

.aboutUs__mainTitle h3 {
	color: #c53842;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1.2px;
}

.aboutUs__title {
	color: #212e37;
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: 1.2px;
	font-weight: 800;
	margin: 30px 0px 30px 0px;
}

.aboutUs__title::after {
	content: '';
	display: inline-block;
	background: rgb(250, 250, 250);
	background: linear-gradient(171deg, rgba(250, 250, 250, 0) 0%, rgba(172, 36, 44, 1) 100%);
	width: 120px;
	height: 2px;
}

.aboutUs__info p {
	margin: 0px 0px 30px 0px;
	letter-spacing: 1.2px;
	line-height: 1.8;
	color: #212e37;
	font-weight: 600;
	font-size: 15px;
}

.aboutUs__cards .aboutUs__rectangles:last-child {
	justify-content: end;
}

.aboutUs__rectangles {
	display: flex;
	position: relative;
	cursor: pointer;
}

.ractangle {
	width: 45%;
	height: 350px;
	background-color: #FFF;
	-webkit-box-shadow: 5px 5px 21px 5px rgba(0, 0, 0, 0.37);
	box-shadow: 5px 5px 21px 5px rgba(0, 0, 0, 0.37);
	border-radius: 40px;
	overflow: hidden;
	position: relative;


}

.rectangle__elips {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 100px;
	height: 100px;
	background: rgb(250, 209, 38);
	background: linear-gradient(171deg, rgba(250, 209, 38, 0.8018557764902836) 0%, rgba(255, 84, 79, 0.7206232834930848) 100%);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-box-shadow: 5px 5px 19px 5px rgba(255, 148, 37, 0.46);
	box-shadow: 5px 5px 19px 5px rgba(255, 148, 37, 0.46);
}

.rectangle__elips img {
	height: 50px;

}

.rectangle__text {
	font-family: 'Raleway', sans-serif;
	color: #212e37;
	position: absolute;
	top: 150px;
	left: 25px;
	width: 240px;
}

.rectangle__title h2 {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
	margin: 0px 0px 20px 0px;
}

.rectangle__subtitle p {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;

}

.reactangle__body {
	width: 100%;
	height: 100%;
	background: rgb(250, 209, 38);
	background: linear-gradient(171deg, rgba(250, 209, 38, 0.8018557764902836) 0%, rgba(255, 84, 79, 0.7206232834930848) 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
}

.back {
	position: absolute;
}

.back,
.front {
	backface-visibility: hidden;
	position: absolute;
	transition: transform .6s linear;
}

.front {
	transform: perspective(600px) rotateY(0deg);
}

.back {
	transform: perspective(600px) rotateY(180deg);
}

.aboutUs__rectangles:hover .front {
	transform: perspective(600px) rotateY(-180deg);
}

.aboutUs__rectangles:hover .back {
	transform: perspective(600px) rotateY(0deg);
}


.aboutUs__all__items .aboutUs__item:first-child {
	overflow: hidden;
	padding: 150px 70px 0px 0px;
	position: relative;
	cursor: pointer;
	transition: all ease-in-out .4s;
}

.aboutUs__photo {
	height: 100%;
	border-radius: 40px;
	overflow: hidden;
	position: relative;
}

.aboutUs__photo img {
	transform: scale(1.4);
}

.aboutUs__photo__color {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(250, 209, 38);
	background: linear-gradient(171deg, rgba(250, 209, 38, 0.8018557764902836) 0%, rgba(255, 84, 79, 0.7206232834930848) 100%);
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	opacity: 0;
	transition: all ease-in-out .4s;
}

.aboutUs__all__items .aboutUs__item:first-child:hover .aboutUs__photo__color {
	opacity: 1;
}


/* ======================= */
/* Sectione Three          */
/* ======================= */

.sectionThree {
	height: 1400px;
	padding: 150px 0px 150px 0px;

}

.Goods__all__items {
	display: flex;
}

.Goods__item {
	width: 50%;
}

.Goods__all__items .Goods__item:last-child {
	display: flex;
	justify-content: end;
	align-items: end;
	position: relative;
	bottom: 40px;
}

.Goods__all__items .Goods__item:last-child .btn span {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
}

.Goods__all__items .Goods__item:last-child .btn-three {
	background: rgb(250, 209, 38);
	background: linear-gradient(171deg, rgba(250, 209, 38, 0.8018557764902836) 0%, rgba(255, 84, 79, 0.7206232834930848) 100%);
	-webkit-box-shadow: 5px 5px 19px 5px rgba(255, 148, 37, 0.31);
	box-shadow: 5px 5px 19px 5px rgba(255, 148, 37, 0.31);
}

.Goods__Grids {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 400px 400px;
	gap: 30px;
	padding: 50px 0px 0px 0px;

}

.GoodsPosition {
	height: 100%;
	background-color: #c53842;
	border-radius: 60px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all ease-in-out .4s;
}

.GoodsPositionImage {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;


}

.GoodsPositionImageBack {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: end;
	justify-content: center;
	z-index: 5;
	transition: all ease-in-out .4s;
	background: rgb(250, 250, 250);
	background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba(109, 102, 145, 0.8130602582830007) 71%);
	opacity: 0;

}


.GoodsText p {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
}

.GoodsText span {
	font-style: italic;
	font-weight: 400;
}

.GoodsPositionImageBack .btn {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	position: relative;
	bottom: 20px;
}

.GoodsText {
	position: absolute;
	z-index: 10;
	top: 20px;
}

.GoodsPosition:hover .GoodsPositionImageBack {
	opacity: 1;
}


/* ======================= */
/* Sectione Four           */
/* ======================= */

.sectionFour {
	padding: 100px 0px 0px 0px;
	height: 1200px;
}

.Features__titles {
	text-align: center;
}

.Features__titles .aboutUs__title {
	width: 600px;
	margin: 40px auto;
}

.Features__Pos__Items {
	display: flex;
}

.Featurs__all__items {
	width: 50%;
	display: flex;
}

.Featurs__item {
	display: flex;
	flex-direction: column;
	margin: 0px 30px 0px 0px;
	transition: all linear .4s;

}

.Featurs__all__items .Featurs__item:first-child {
	position: relative;
	top: 100px;
}

.featurs__position {
	position: relative;
	transition: all linear .4s;
}

.Featurs__all__the__text {
	width: 50%;

}

.fatures__rect {
	width: 300px;
	height: 300px;
	background-color: #fff;
	border-radius: 20px;
	margin: 0px 0px 30px 0px;
	-webkit-box-shadow: 5px 5px 21px 5px rgba(0, 0, 0, 0.37);
	box-shadow: 5px 5px 21px 5px rgba(0, 0, 0, 0.37);
	cursor: pointer;
	position: relative;
	transition: all linear .4s;
}

.featurs__position:hover .fatures__rect {
	background: rgb(250, 209, 38);
	background: linear-gradient(171deg, rgba(250, 209, 38, 0.8018557764902836) 0%, rgba(255, 84, 79, 0.7206232834930848) 100%);
}

.featurs__position:hover .rectangle__elips {
	background-color: #212e37;
}


.Featurs__item .featurs__position:last-child .fatures__rect {
	margin: 0px 0px 0px 0px;
}

.Featurs__all__the__text .aboutUs__info {
	margin: 0px 0px 50px 0px;
}


.Featurs__all__the__text .btn span {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
}

.Featurs__all__the__text .Goods__item:last-child .btn-three {
	background: rgb(250, 209, 38);
	background: linear-gradient(171deg, rgba(250, 209, 38, 0.8018557764902836) 0%, rgba(255, 84, 79, 0.7206232834930848) 100%);
	-webkit-box-shadow: 5px 5px 19px 5px rgba(255, 148, 37, 0.31);
	box-shadow: 5px 5px 19px 5px rgba(255, 148, 37, 0.31);

}

.featurs__position .rectangle__elips {
	width: 80px;
	height: 80px;
	transition: all linear .4s;
}

.featurs__position .rectangle__elips img {
	height: 40px;
}

.featurs__position .rectangle__text {

	top: 120px;
}

.featurs__position .rectangle__title h2 {
	font-size: 14px;
}

.featurs__position .rectangle__subtitle p {
	font-size: 12px;
}




/* ======================= */
/* Sectione Five           */
/* ======================= */

.sectionFive {
	height: 400px;
	display: flex;
	align-items: center;
	position: relative;
}

.rew__back {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #c53842;
	border-radius: 100px;
	top: 20px;
	left: 70px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.rew__back__1 {
	top: 40px;
	left: 500px;
}

.rew__back__1 img {
	transform: scale(1.5);
}

.rew__back__2 {
	top: 200px;
	left: 150px;

}

.rew__back__3 {
	top: 50px;
	left: 80%;
}

.rew__back__4 {
	top: 200px;
	left: 90%;
}

.rew__image {
	width: 150px;
	height: 150px;
	background-color: #c53842;
	border-radius: 100px;
	overflow: hidden;
	margin: 30px auto;
	display: flex;
	align-items: center;

}

.Rew__all__slider {
	position: relative;
}

.rew__slide {
	width: 500px;
	margin: 0 auto;

}

.rew__about {
	text-align: center;
	font-family: 'Raleway', sans-serif;

	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0px 0px 30px 0px;
	padding: 0px 400px 0px 400px;
}

.rew__name {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 800;
}

.Rew__all__slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 50px;
	transition: all ease-in-out .4s;
	cursor: pointer;
}

.Rew__all__slider .slick-arrow:hover {
	transform: scale(1.2);
}

.Rew__all__slider .slick-arrow.slick-prev {
	left: 200px;
	background: url("../img/3sectionThree/playPrev.png") center no-repeat;
}

.Rew__all__slider .slick-arrow.slick-next {
	right: 200px;
	background: url("../img/3sectionThree/play.png") center no-repeat;
}





/* ======================= */
/* Sectione Six            */
/* ======================= */

.sectionSix {
	padding: 100px 0px 100px 0px;
}

.OrdreForm {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.inpText {
	border: none;
	background-color: #ddb39868;
	padding: 20px 0px 20px 40px;
	margin: 0px 0px 30px 0px;
	outline: none;
	transition: all ease-in-out .4s;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 700;
}

.inpText:focus {
	border: none;
	-webkit-box-shadow: 5px 5px 19px 5px rgba(255, 148, 37, 0.31);
	box-shadow: 5px 5px 19px 5px rgba(255, 148, 37, 0.31);
}


.Selected {
	display: flex;

}

.Selected select {
	border: none;
	background-color: #ddb39868;
	transition: all ease-in-out .4s;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 700;
	padding: 20px 20px 20px 20px;
	margin: 0px 30px 0px 0px;
}

.how_many {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 700;
	padding: 20px 20px 20px 20px;
}

.OrdreForm .btn {
	background: rgb(250, 209, 38);
	background: linear-gradient(171deg, rgba(250, 209, 38, 0.8018557764902836) 0%, rgba(255, 84, 79, 0.7206232834930848) 100%);
	-webkit-box-shadow: 5px 5px 19px 5px rgba(255, 148, 37, 0.31);
	box-shadow: 5px 5px 19px 5px rgba(255, 148, 37, 0.31);

	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 700;
	position: relative;
	right: 0;

	margin: 30px 0px 0px 0px;

}


.footer {
	background-color: #212e37;
	height: 300px;
	display: flex;
	align-items: center;
}

.footer__all__items {
	display: flex;
	justify-content: space-between;

}

.footer__item {
	width: 50%;
}

.foot__logo {
	color: #fff;
}

.foot__info {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 600;
	margin: 50px 0px 0px 0px;
	width: 500px;
}

.foot__icons  {
	padding: 0px 0px 0px 150px;	
}

.foot__icons li {
	text-decoration: none;
	list-style-type: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size:14px;
	font-weight: 600;
	margin: 0px 0px 20px 0px;
}



.foot__contact {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 24px;
	font-weight: 800;
	text-align: center;
}

@media (max-width: 1130px) {
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 15;
	}

	.header__burger::before,
	.header__burger::after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		transition: all ease-in-out .2s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger span {
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all ease-in-out .2s;
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__nav {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 40%;
		border-radius: 0px 0px 80px 80px;
		background-color: #ddb298;
		z-index: 14;
		transition: all ease-in-out .3s;
		padding: 100px 0px 0px 0px;
	}

	.header__nav.active {
		top: 0;
	}

	.nav__menu {
		display: block;
		font-size: 16px;
	}

	.nav__menu a:last-child .nav__link {
		display: inline-block;
	}

	.nav__menu a:first-child .nav__link {
		padding: 0px 0px 5px 45px;
	}

	body.lock {
		overflow: hidden;
	}

	.intro__item__image {
		display: none;

	}

	.intro__all__items {
		width: 100%;
		display: flex;

	}

	.introInfo {
		margin: 0 auto;
		text-align: center;
	}

	.intro__subtitle {
		margin: 0 auto;
	}

	.intro__social {
		display: flex;
		justify-content: center;
	}

	.aboutUs__all__items {
		display: flex;
		flex-direction: column;
		position: relative;

	}

	.aboutUs__all__items .aboutUs__item:first-child {
		display: none;
	}

	.aboutUs__item {
		width: 100%;
	}

	.aboutUs__text {
		text-align: center;
	}

	.aboutUs__title {
		width: 700px;
		margin: 50px auto;
	}

	.aboutUs__info {
		width: 800px;
		margin: 0 auto;
	}

	.aboutUs__rectangles {
		padding: 80px 150px 0px 150px;
	}

	.ractangle {
		width: 30%;
	}

	.Goods__Grids {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 350px 350px;
		gap: 30px;
		padding: 50px 0px 0px 0px;

	}

	.Goods__all__items {
		display: block;
	}

	.Goods__item {
		width: 100%;
	}

	.Goods__all__items .Goods__item:last-child {
		justify-content: center;
		bottom: 0;
	}

	.GoodsPositionImage img {
		transform: scale(1.2);
	}

	.Features__Pos__Items {
		display: block;
	}

	.Featurs__all__items .Featurs__item:first-child {
		position: relative;
		top: 0;
	}


	.Featurs__all__items {
		width: 100%;
		justify-content: center;
	}

	.Featurs__all__the__text {
		width: 100%;
		padding: 100px 0px 0px 0px;
	}

	.Featurs__all__the__text .aboutUs__info {
		width: 600px;
		margin: 0 auto;
	}

	.Featurs__all__the__text .Goods__item .btn {
		margin: 50px auto;
	}

	.rew__back {
		display: none;
	}

	.sectionFive {
		padding: 800px 0px 0px 0px;
	}

	.rew__about {
		padding: 0px 200px 0px 200px;
	}


	.Rew__all__slider .slick-arrow.slick-prev {
		left: 100px;
		background: url("../img/3sectionThree/playPrev.png") center no-repeat;
	}

	.Rew__all__slider .slick-arrow.slick-next {
		right: 100px;
		background: url("../img/3sectionThree/play.png") center no-repeat;
	}

	.sectionSix {
		padding: 250px 0px 100px 0px;
	}

}

@media (max-width: 700px) {
	.intro__title h2 {
		font-size: 22px;
		width: 400px;
		margin: 50px auto;
	}

	.intro__buttons {
		display: inline-block;

	}

	.intro__buttons .btn {
		margin: 0px 0px 30px 0px;
	}

	.intro__subtitle {
		width: 400px;
	}

	.aboutUs__rectangles {
		display: none;
	}

	.aboutUs__title {
		font-size: 14px;
		width: 300px;
		margin: 30px auto;
	}

	.aboutUs__info {
		width: 300px;
		margin: 0 auto;
	}

	.aboutUs__info p {
		font-size: 12px;
	}

	.SectionTwo {
		height: 700px;
	}

	.Goods__Grids {
		grid-template-columns: repeat(2, 1fr);
	}

	.sectionFour {
		padding: 400px 0px 0px 0px;
	}

	.Featurs__all__items {
		flex-direction: column;

	}

	.Featurs__item {

		margin: 30px auto;
	}


	.sectionFive {
		padding: 1600px 0px 0px 0px;
	}

	.rew__about {
		padding: 0px 150px 0px 150px;
	}


}